extends layout
block content
  
  header
    div#brand
      a(href='http://blog.eleven.io', target="_blank") 11

    form
      input(type='search', autofocus='true', placeholder='Search for players')
      a.share share
      
      
  select
    option(value='four42') 442
    option(value='four33') 433 
    option(value='five32') 532
    option(value='four231') 4231
    option(value='four24') 424
    option(value='three52') 352
  span
    
  section.p
    div.pitch
      hr
      ul.corners
        li
          span.dummy
          span.circle
        li
          span.dummy
          span.circle
        li
          span.dummy
          span.circle
        li
          span.dummy
          span.circle
      span.goal
      
    article
      ul
      
  footer
    a(href='https://twitter.com/elevenio', target="_blank") t
    
  script(type='text/javascript')
  
        window.app = {}
  
        app.playersCollection = new App.PlayersCollection(window.playersData);
        
        app.teamCollection = new App.PlayersCollection(window.teamsData);

        app.elevenModel = new App.Eleven({
          players: [#{players}],
          formation: "#{formation}"
        })

        app.pitchView = new App.PitchView()

        app.pitchView.render()
        
