!!! 5
head
  meta(charset='utf-8')
  title Eleven
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel='stylesheet', href='http://dl.dropbox.com/u/1044173/sites/11/2/c/v2.css')
  
  script
    window.App = {}
    
  script(src='/libraries.js')
  script(src='/application.js')
  script(src='/players.js')
  
body


  
  block content
  

| </html>