!!! 5
head
  meta(charset='utf-8')
  title Eleven
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel='stylesheet', href='css/screen.css')
  
  script
    window.App = {}
    
    var metas = document.getElementsByTagName('meta');

      var i;

      if (navigator.userAgent.match(/iP(hone|ad)/i)) {
        for (i=0; i<metas.length; i++) {
          if (metas[i].name == "viewport") {
            metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
          }
        }
        document.addEventListener("gesturestart", gestureStart, false);
      }

      function gestureStart() {
        for (i=0; i<metas.length; i++) {
          if (metas[i].name == "viewport") {
            metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
          }
        }
      }
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37551365-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    
  script(src='/libraries.js')
  script(src='/application.js')
  script(src='/players.js')
  
body


  
  block content
  

| </html>